<ul id="toolbar">
    <TMPL_IF NAME=PAGE>
    <li><a href="<TMPL_VAR NAME=WEBROOT>/edit/<TMPL_VAR NAME=PAGE>">Edit</a></li>
    </TMPL_IF>

    <TMPL_IF NAME=LOGGED_IN>
        <li><a href="<TMPL_VAR NAME=WEBROOT>/out">Log out</a></li>
    <TMPL_ELSE>
        <li><a href="<TMPL_VAR NAME=WEBROOT>/in">Log in</a></li>
    </TMPL_IF>
</ul>
