<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>Recent changes</title>
        <link rel="stylesheet" type="text/css" href="main.css" />
    </head>
    <body>
        <TMPL_INCLUDE NAME="toolbar.tmpl">
        <div id="content">
            <h1>Recent changes</h1>

            <ul>
                <TMPL_LOOP NAME=CHANGES>
                    <li>
                        <TMPL_VAR NAME=PAGE> was changed on
                        <TMPL_VAR NAME=TIME> by
                        <TMPL_VAR NAME=AUTHOR>
                    </li>
                </TMPL_LOOP>
            </ul>
        </div>
    </body>
</html>
