<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>Not logged in</title>
        <link rel="stylesheet" type="text/css" href="/skins/Autumn/spartan.css" />
    </head>
    <body>
        <div id="logo"></div>
        <ul id="toolbar">
            &nbsp;
        </ul>
        <div id="content">
            <h1>Not logged in</h1>
            <p>You need to be logged in to <TMPL_VAR NAME=DISALLOWED_ACTION>.</p>
        </div>
    </body>
</html>
