<TMPL_INCLUDE NAME="header.tmpl">
        <title>Login failed</title>
    </head>
    <body>
        <div id="page">
            <div id="headerimg">
            <TMPL_INCLUDE NAME="toolbar.tmpl">
            </div>
            <div id="pagebar">&nbsp;</div>
            <div id="content">
                <h1>Login failed</h1>
                <p>Something went wrong. Sorry.</p>
            </div>
    <TMPL_INCLUDE NAME="sidebar.tmpl">


<div id="footer">
    <p>
        November. Powered by Rakudo Perl 6.
    </p>
</div>

        </div>
    </body>
</html>
