<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>Articles list</title>
        <link rel="stylesheet" type="text/css" href="/spartan.css" />
    </head>
    <body>
        <div id="logo"></div>
        <ul id="toolbar">
            <TMPL_IF NAME=LOGGED_IN>
                <li><a href="?action=log_out">Log out</a></li>
            <TMPL_ELSE>
                <li><a href="?action=log_in">Log in</a></li>
            </TMPL_IF>
        </ul>
        <div id="content">

            <h1>
            <TMPL_IF NAME=TAG>
                Articles with tag "<TMPL_VAR NAME=TAG>"
            <TMPL_ELSE>
                All articles list
            </TMPL_IF>
            </h1>

            <TMPL_IF NAME=TAGS>
            <div class="cloud">
                <h3>All tags</h3>
                <TMPL_VAR NAME=TAGS>
            </div>
            </TMPL_IF>

            <TMPL_IF NAME=LIST>
            <ul>
                <TMPL_LOOP NAME=LIST>
                    <li>
                        <a href="?action=view&page=<TMPL_VAR NAME=PAGE>"><TMPL_VAR NAME=PAGE></a>
                    </li>
                </TMPL_LOOP>
            </ul>
            </TMPL_IF>

            <TMPL_IF NAME=TAG>
            <p><a href="?action=all_pages">Return to all articles list</a></p> 
            </TMPL_IF>

        </div>
    </body>
</html>
