body {
    background: white;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}

h1 {
    border-bottom: solid 3px #888;
}

#toolbar {
    border-bottom: solid #330 2px;
    background: #863;
    padding-top: 1em;
    list-style: none;
    margin: 0;
    font-family: sans-serif;
}

#toolbar li {
    line-height: 1.4em;
    display: inline;
}

#toolbar a {
    color: black;
    text-decoration: none;
    padding: .4em 1em 0;
}

#toolbar a:link    { background: #dc8; }
#toolbar a:visited { background: #dc8; }
#toolbar a:hover   { background: #ee8; }
#toolbar a:active  { background: #ffa; }

#logo {
    position: absolute;
    top: 5px;
    right: 35px;
    background: no-repeat 100% 0% url(november-logo.png);
    width: 70px;
    height: 70px;
}

#content {
    padding: 20px 40px 0;
}

.diff .insertion {
    border: solid 1px #080;
    background: #8f8;
}

.diff .deletion {
    border: solid 1px #800;
    background: #f88;
}
