<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>Not logged in</title>
        <link rel="stylesheet" type="text/css" href="main.css" />
    </head>
    <body>
        <div id="page">
            <div id="headerimg">
            <TMPL_INCLUDE NAME="toolbar.tmpl">
            </div>
            <div id="pagebar">&nbsp;</div>
            <div id="content">
                <h1>Not logged in</h1>
                <p>You need to be logged in to <TMPL_VAR NAME=DISALLOWED_ACTION>.</p>
            </div>
    <div id="sidebar">
        <ul>
            <li><h2>Navigation</h2>
                <ul>
                    <li><a href='/'>Main Page</a></li>
                    <li><a href='/?page=About'>About this site</a></li>
                    <li><a href='/?action=recent_changes'>Recent Changes</a></li>
                </ul>
            </li>
        </ul>
    </div>


<div id="footer">
    <p>
        November. Powered by Rakudo Perl 6.
    </p>
</div>

        </div>
    </body>
</html>
