<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title><TMPL_VAR NAME=TITLE></title>
        <link rel="stylesheet" type="text/css" href="main.css" />
    </head>
    <body>
        <div id="page">
            <div id="headerimg">&nbsp;</div>
            <div id="pagebar">&nbsp;</div>
            <TMPL_INCLUDE NAME="toolbar.tmpl">
            <div id="content">
                <h1><TMPL_VAR NAME=TITLE></h1>
                <TMPL_IF NAME=PAGETAGS>
                <div class="pagetags"><TMPL_VAR NAME=PAGETAGS></div>
                </TMPL_IF>

                <TMPL_IF NAME=TAGS>
                <div class="cloud">
                    <h3>All tags</h3>
                    <TMPL_VAR NAME=TAGS>
                </div>
                </TMPL_IF>
                
                <TMPL_VAR NAME=CONTENT>
            </div>
    <div id="sidebar">
        <ul>
        




            <li>
                        </li>
                    
            

            <li><h2>Archives</h2>
                <ul>
                    <li><a href='http://brushingupmyknuth.wordpress.com/2008/06/' title='June 2008'>June 2008</a></li>
    <li><a href='http://brushingupmyknuth.wordpress.com/2008/01/' title='January 2008'>January 2008</a></li>
    <li><a href='http://brushingupmyknuth.wordpress.com/2007/12/' title='December 2007'>December 2007</a></li>
    <li><a href='http://brushingupmyknuth.wordpress.com/2007/11/' title='November 2007'>November 2007</a></li>
                </ul>
            </li>

            <li><h2>Categories</h2>
                <ul>
                    <li class="cat-item cat-item-18744"><a href="http://brushingupmyknuth.wordpress.com/category/exercises/" title="View all posts filed under Exercises">Exercises</a> (2)
</li>
    <li class="cat-item cat-item-13550"><a href="http://brushingupmyknuth.wordpress.com/category/procrastination/" title="View all posts filed under Procrastination">Procrastination</a> (1)
</li>
    <li class="cat-item cat-item-4262"><a href="http://brushingupmyknuth.wordpress.com/category/theme/" title="View all posts filed under Theme">Theme</a> (1)
</li>
                </ul>
            </li>

                            
                                
                <li><h2>Meta</h2>
                <ul>
                                        <li><a href="http://brushingupmyknuth.wordpress.com/wp-login.php">Log in</a></li>
                    <li><a href="http://validator.w3.org/check/referer" title="This page validates as XHTML 1.0 Transitional">Valid <abbr title="eXtensible HyperText Markup Language">XHTML</abbr></a></li>
                    <li><a href="http://gmpg.org/xfn/"><abbr title="XHTML Friends Network">XFN</abbr></a></li>
                    <li><a href="http://wordpress.com/" title="Powered by WordPress, state-of-the-art semantic personal publishing platform.">WordPress.com</a></li>
                                    </ul>
                </li>
                        
        </ul>
    </div>


<div id="footer">
    <p>
    Theme: Contempt by <a href="http://www.vault9.net" rel="designer">Vault9</a>.<br />
    <a href='http://wordpress.com/' rel='generator'>Blog at WordPress.com</a>.      
    </p>
</div>

        </div>
    </body>
</html>
