<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title><TMPL_VAR NAME=TITLE></title>
        <link rel="stylesheet" type="text/css" href="spartan.css" />
    </head>
    <body>
        <TMPL_INCLUDE NAME="toolbar.tmpl">
        <div id="content">
            <h1><TMPL_VAR NAME=ACTION> <TMPL_VAR NAME=TITLE></h1>
            <form method="POST">
                <input type="hidden" name="page" value="<TMPL_VAR NAME=PAGE>" />
                <input type="hidden" name="action" value="edit" />
                <textarea name="articletext" rows="22" cols="110"><TMPL_VAR NAME=CONTENT></textarea>
                <p/>
                Tags: <input type="text" name="tags" size="100" value="<TMPL_IF NAME=PAGETAGS><TMPL_VAR NAME=PAGETAGS></TMPL_IF>" />
                <p/>
                <input type="submit" value="Save" /> or <a href="?page=<TMPL_VAR NAME=PAGE>">cancel</a>
            </form>
        </div>
    </body>
</html>
