<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>Diff of <TMPL_VAR NAME=PAGE></title>
        <link rel="stylesheet" type="text/css" href="spartan.css" />
    </head>
    <body>
        <TMPL_INCLUDE NAME="toolbar.tmpl">
        <div id="content">
            <h1>Diff of <TMPL_VAR NAME=TITLE></h1>

            <table class="diff">
                <TMPL_LOOP NAME=HUNKS>
                    <TMPL_LOOP NAME=INDELS>
                        <tr>
                            <td class="deletion">
                                <TMPL_VAR NAME=DELETION>
                            </td>
                            <td class="insertion">
                                <TMPL_VAR NAME=INSERTION>
                            </td>
                        </tr>
                    </TMPL_LOOP>
                </TMPL_LOOP>
            </table>
        </div>
    </body>
</html>
